
<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>

    <div class="container">
        <div class="row mt-5">
    <h1>Home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae excepturi eius saepe, architecto reiciendis quae, fuga incidunt officiis nemo suscipit accusamus corrupti nisi ratione. Ab iusto aut harum aspernatur ducimus voluptate ad odio, mollitia vitae quod laborum illo sint reiciendis. Placeat, exercitationem similique! Dolorem porro cumque nulla fuga quam nostrum officiis voluptates earum vel ad.</p>
        </div>  
    </div>
</body>
</html>

